body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #1e1212;
    color: #a97576;
}

header {
    background-color: #1e1212;
    color: #a97576;
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 3em;
    margin: 0;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #838483;
    border-radius: 8px;
}

h2 {
    color: #a97576;
}

.project-card {
    background-color: #7e7884;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1e1212;
    color: #838483;
}
